# Appwrite Configuration
NEXT_PUBLIC_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
NEXT_PUBLIC_APPWRITE_PROJECT_ID=
NEXT_PUBLIC_APPWRITE_DATABASE_ID=

# Collection IDs
NEXT_PUBLIC_USERS_COLLECTION_ID=
NEXT_PUBLIC_PRODUCTS_COLLECTION_ID=
NEXT_PUBLIC_ORDERS_COLLECTION_ID=
NEXT_PUBLIC_REWARDS_COLLECTION_ID=
NEXT_PUBLIC_COUPONS_COLLECTION_ID=

# Storage
NEXT_PUBLIC_APPWRITE_STORAGE_BUCKET_ID=
